<ion-header>
  <ion-navbar>
    <ion-title>
      Swiss
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl">
  <ion-list>
    <ion-list-header> زيارتنا</ion-list-header>

    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @فيس بوك

    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @واتساب

    </ion-item>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @يوتيوب

    </ion-item>
  </ion-list>
</ion-content>