<ion-header>
  <ion-navbar>
    <ion-icon name="heart"></ion-icon>
    <ion-title>Swiss</ion-title>

  </ion-navbar>



</ion-header>

<ion-content>

  <ion-list style="text-align:right;">
    <ion-item>
      <img src="assets/imgs/Swiss BG.jpg" />
    </ion-item>
    <ion-item>
      <ion-label stacked dir="rtl">اسم المستخدم</ion-label>
      <ion-input type="text" dir="rtl"></ion-input>

    </ion-item>

    <ion-item>
      <ion-label stacked dir="rtl">كلمة المرور</ion-label>
      <ion-input type="password" dir="rtl"></ion-input>
    </ion-item>

  </ion-list>

  <div dir="rtl" style="padding:10px; margin: auto;
  width:20%;
  border: 3px solid rgb(150, 0, 38);
  padding: 10px;">
    <p>قوائم</p>
    <ion-icon name="heart"></ion-icon>
  </div>
  <div class="card-title"></div>
  <div class="card-subtitle"></div>
  <button ion-button full>Full Button</button>
  <h2></h2>
  <p>

  </p>
  <p>

</ion-content>